.focused {
  background-color: antiquewhite;
}

table{
  text-align: center;
}

thead td {
  font-weight: bold;
}

table {
  cursor: pointer;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.task-name {
  text-align: left;
}
